:root {
  --clr-accent-200: #f44f4f;
  --clr-accent-300: #f3393a;
  --clr-accent-400: #ff4141;
  --clr-accent-500: #ae1a49;

  --clr-primary-300: #3ca7db;
  --clr-primary-400: #0391d3;
  --clr-primary-500: #0590d1;

  --clr-neutral-0: hsl(0 0% 100%);
  --clr-neutral-50: #f8f8f8;
  --clr-neutral-75: #f5f7f9;
  --clr-neutral-100: #afafaf;
  --clr-neutral-150: #a4a5a5;
  --clr-neutral-200: #656565;
  --clr-neutral-300: #4e4e4e;
  --clr-neutral-400: #515151;
  --clr-neutral-500: #2e2e2e;
  --clr-neutral-600: #2f2f2f;
  --clr-neutral-900: #000000;

  --clr-price: var(--clr-accent-500);

  --clr-bg-button: var(--clr-primary-400);
  --clr-bg-button-inverted: var(--clr-accent-300);
  --clr-bg-button-inverted-hover: var(--clr-accent-200);

  --ff-primary: "Roboto", sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-black: 900;

  --fs-200: 0.75rem; /* 12px */
  --fs-300: 0.875rem; /* 14px */
  --fs-400: 0.9375rem; /* 15px */
  --fs-500: 1.125rem; /* 18px */
  --fs-600: 1.25rem; /* 20px */
  --fs-650: 1.375rem; /* 22px */
  --fs-700: 1.5rem; /* 24px */
  --fs-800: 1.625rem; /* 26px */
  --fs-900: 2.25rem; /* 36px */

  --fs-body: var(--fs-300);
  --fs-primary-heading: var(--fs-900);
  --fs-secondary-heading: var(--fs-600);
  --fs-nav: var(--fs-300);
  --fs-button: var(--fs-300);
  --fs-product-title: var(--fs-600);
  --fs-work-heading: var(--fs-700);
  --fs-work-title: var(--fs-500);
  --fs-work-body: var(--fs-400);

  --size-100: 0.75rem;
  --size-200: 0.865rem;
  --size-300: 1rem;
  --size-400: 1.5rem;
  --size-500: 2rem;
  --size-600: 3rem;
  --size-700: 4rem;
  --size-800: 5rem;
  --size-900: 6rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* General Stylings */

body {
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  color: var(--clr-neutral-900);
}

/* button */

.button {
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  border-radius: 100vmax;
  padding: 1.25em 3em;
  font-weight: var(--fw-black);
  font-size: var(--fs-button);
  line-height: 1;
  color: var(--clr-neutral-0);
  background-color: var(--clr-bg-button);
}

.button[data-type="inverted"] {
  background-color: var(--clr-bg-button-inverted);
}

.button:hover,
.button:focus-visible {
  background-color: var(--clr-primary-300);
}

.button[data-type="inverted"]:hover {
  background-color: var(--clr-bg-button-inverted-hover);
}

/* navigation */

.primary-header {
  margin-block: var(--size-500);
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: clamp(var(--size-500), 5vw, var(--size-800));
}

.nav-list a {
  display: flex;
  gap: 0.4rem;
  text-decoration: none;
  font-size: var(--fs-nav);
  color: var(--clr-neutral-200);
}

.nav-list li:last-child {
  display: none;
}

.mobile-nav-toggle {
  display: none;
}

/* Hero section */

.hero {
  position: relative;
  padding-block: 4rem;
  margin-bottom: 3rem;
}

.hero-content {
  position: relative;
  z-index: 2;
}

.hero-stats {
  display: flex;
  margin-top: 4rem;
}

.stats-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-inline: 2rem;
  border-right: solid 1px #eeeeee;
}

.stats-number p {
  color: var(--clr-primary-400);
  font-size: 4.5rem;
}

.stats-item:first-child {
  padding-left: 0;
}
.stats-item:last-child {
  border: none;
}

.hero-background-image {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  border-top-left-radius: 100vmax;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 1;
}

.hero-background-image img {
  height: auto;
  width: 100%;
  padding: 2.5rem;
  padding-right: 0.5rem;
}

.hero-sub-heading {
  margin-top: 0.5rem;
  font-size: var(--fs-600);
}

.hero-button {
  font-size: var(--fs-600);
  margin-block: var(--size-600);
  padding-inline: var(--size-900);
  box-shadow: rgb(7, 102, 131) 0 3px 5px 1px, rgb(0 0 0 / 16%) 0px 14px 12px 0px;
}

.hero-note {
  color: var(--clr-neutral-400);
}

.hero-note span {
  color: var(--clr-accent-300);
}

/* product section */

.product-heading {
  text-align: center;
}

.product-grid {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: dense;
  padding: 0.5rem 2rem;
}

.product-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: box-shadow 0.3s;
}

.product-card:first-child {
  grid-row: span 2 / span 2;
}

.product-card img {
  height: 200px;
  width: auto;
}

.product-card:first-child img {
  height: auto;
}

.product-card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.product-card-text {
  padding-top: 1rem;
  font-size: var(--fs-650);
  padding-inline: 2.25rem;
  text-align: center;
}

.product-grid-wrapper {
  position: relative;
}

.product-left-arrow {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.product-right-arrow {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.product-question {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-block: 2rem;
}

.product-question-button {
  margin-left: 4rem;
}

/* order section */

.order-container {
  padding: var(--size-800) var(--size-600);
}

.order {
  width: 50%;
  color: var(--clr-neutral-0);
  position: relative;
  z-index: 2;
}

.order h2 {
  line-height: 1;
}

.order p {
  padding-block: var(--size-400);
  color: #ffffff96;
}

.order-container {
  position: relative;
}

.order-image {
  position: absolute;
  bottom: 0;
  right: -0.5rem;
}

/* service section */
.service-section {
  margin-top: 2rem;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: max-content;
  grid-gap: 1rem;
  text-align: left;
}

.service-container {
  text-align: center;
}
.service-heading {
  padding-bottom: var(--size-500);
}
.service-heading big {
  color: var(--clr-accent-400);
}

.service-card {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 13rem;
  padding: 2rem;
  line-height: 2;
  background-color: var(--clr-neutral-0);
}

.image-service {
  color: var(--clr-neutral-0);
  position: relative;
  padding-right: 8rem;
}

.plumber-service {
  background-color: #ff0000;
}
.machine-service {
  background-image: url("images/services/machine-background.png");
}
.security-service {
  background-color: #260a3d;
}

.service-image {
  position: absolute;
  bottom: 0;
  right: 0;
}

.plumber-service::before {
  content: "";
  background-image: url("images/services/plumber-background.png");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}

.security-service::before {
  content: "";
  background-image: url("images/services/security-background.png");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}

.image-service .text-primary {
  color: var(--clr-neutral-0);
  position: relative;
}
.image-service .text-secondary {
  color: #ffffffbd;
  position: relative;
}
.image-service .text-price {
  color: var(--clr-neutral-0);
  font-weight: var(--fw-black);
  position: relative;
}

/* Scheme work section */
.scheme-work-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: max-content;
  grid-gap: 1rem;
  grid-row-gap: 6.5rem;
  text-align: left;
}

.scheme-work-heading {
  padding-bottom: var(--size-800);
  color: var(--clr-neutral-500);
}

.scheme-work-card {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 17.5rem;
  padding: 2rem;
  line-height: 2;
  background-color: var(--clr-neutral-0);
  border: solid 1px var(--clr-primary-300);
}

.scheme-work-numbering {
  width: 7rem;
  height: 6.3rem;
  padding: 0.5rem;
  font-weight: var(--fw-medium);
  font-size: var(--fs-700);
  color: var(--clr-neutral-0);
  background-color: var(--clr-primary-300);
  position: absolute;
  top: -60px;
  left: -8px;
}

.scheme-work-card img {
  height: 3.4rem;
  width: auto;
  margin-right: 1.5rem;
}

.scheme-work-card-text {
  align-self: flex-start;
  padding-top: 2.25rem;
  line-height: 2;
}

.scheme-work-card-text-secondary {
  color: var(--clr-neutral-100);
  font-size: var(--fs-400);
}

/* discount section */
.discount-container {
  position: relative;
}

.discount-text {
  padding-right: 36rem !important;
  padding-left: 2rem;
}

.discount-text button {
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
    rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}

.discount-text .fs-primary-heading {
  line-height: 1.2;
}

.discount-text-secondary {
  padding-block: 1.5rem;
}

.discount-image-container {
  position: absolute;
  bottom: -0.75rem;
  right: 0;
}

/* testimonial section */

.testimonial-heading {
  color: var(--clr-neutral-500);
}

.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: max-content;
  grid-gap: 1rem;
  text-align: left;
  margin-top: 6rem;
}

.testimonial-card {
  padding: var(--size-500);
  padding-top: var(--size-700);
  border: solid 1px var(--clr-primary-300);
  line-height: 2;
  position: relative;
}

.testimonial-primary-text {
  color: var(--clr-neutral-300);
  font-size: var(--fs-500);
}
.testimonial-secondary-text {
  color: var(--clr-neutral-100);
  font-size: var(--fs-400);
}

.testimonial-profile-image {
  position: absolute;
  top: -3.25rem;
  left: 0;
  right: 0;
  margin: auto;
}

.testimonial-left-arrow {
  position: absolute;
  top: var(--size-500);
  left: 0;
  padding: 0.75rem;
}
.testimonial-right-arrow {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.75rem;
}

/* question answers section */
.question-answers-section {
  margin-bottom: 6rem;
}

.question-answers-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.question-answers-grid-item {
  background-color: var(--clr-neutral-0);
  padding-block: 1.5rem;
  padding-inline: 0.5rem;
  position: relative;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.question-answers-grid-item:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  grid-row: span 2;
}

.angle-icon {
  padding-inline: 0.75rem;
  font-size: 1.125rem;
  height: fit-content;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.question-answers-grid-item:hover .angle-icon {
  margin: 0;
  padding-block: 1.5rem;
}

.angle-up-icon {
  display: none;
}

.question-answers-grid-item:hover .angle-up-icon {
  display: initial;
}
.question-answers-grid-item:hover .angle-down-icon {
  display: none;
}

.question-answers-text-secondary {
  color: var(--clr-neutral-100);
  display: none;
}

.question-answers-text-secondary p {
  margin-top: 0.5rem;
}

.question-answers-grid-item:hover .question-answers-text-secondary {
  display: initial;
}

/* location section */

.location-section {
  position: relative;
}

.location-map {
  width: 100%;
  border: none;
  height: 40rem;
}

.location-section-container {
  height: fit-content;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  margin-left: 10vw;
  z-index: 1;
}

.location-card {
  background-color: var(--clr-neutral-0);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
  padding: 3rem;
  padding-right: 10rem;
  width: fit-content;
}

.location-card-content {
  display: flex;
  line-height: 2.25;
  gap: 0.5rem;
}

.location-card h1 {
  color: var(--clr-neutral-500);
}

.location-card a {
  color: var(--clr-neutral-200);
  text-decoration: none;
}

/* footer */

.footer {
  padding-block: var(--size-500);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left,
.footer-right {
  display: flex;
  align-items: center;
}

.footer-left img {
  margin-right: 1.5rem;
}

.footer-left-text {
  font-size: var(--fs-200);
}

.footer-up-arrow {
  margin-left: 2rem;
  padding: var(--size-200);
  border: solid 1px #d8d8d8;
  border-radius: 100vmax;
}

.footer-up-arrow img {
  height: 0.9375rem;
}

.footer-left-text-responsive {
  display: none;
}

@media (max-width: 91em) {
  /* Hero media queries */
  .stats-item {
    padding-inline: 1rem;
  }
}

@media (max-width: 84em) {
  /* Hero media queries */
  .hero {
    padding-block: var(--size-600);
  }

  .hero-stats {
    margin-top: 2rem;
  }

  .hero-button {
    font-size: var(--fs-400);
    margin-block: var(--size-400);
    padding-inline: 8rem;
  }
  .stats-item {
    padding-inline: 1.5rem;
  }
}

@media (max-width: 75em) {
  /* order media queries */
  .order h2 {
    text-shadow: 2px 1px 2px #000000a6;
  }

  .order p {
    text-shadow: 0px 1px 1px #0000009e;
    color: #d6d6d6;
  }

  /* service media queries */
  .service-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  /* location media queries */
  .location-section-container {
    margin-left: 1rem;
  }
}

@media (min-width: 60em) and (max-width: 72em) {
  /* hero media queries */
  .stats-number p {
    font-size: 3rem;
  }
}

@media (min-width: 60em) and (max-width: 66em) {
  /* hero media queries */
  .stats-item {
    padding-inline: 1rem;
  }
  .stats-text {
    font-size: var(--fs-400) !important;
  }
}

@media (max-width: 70em) {
  .discount-text {
    padding-right: 40rem !important;
  }
}

@media (max-width: 68.75em) {
  /* Hero media queries */

  .hero-note {
    font-size: var(--fs-400);
  }

  /* order media queries */
  .order {
    width: 100%;
    text-align: center;
    padding-inline: 8rem;
  }

  .order h2 {
    text-shadow: 2px 1px 2px #000000;
  }

  .order p {
    padding-block: var(--size-500);
    text-shadow: 0px 1px 4px #0000006e;
    color: #ffffff;
  }

  .order-image {
    opacity: 0.5;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .order-button {
    margin: var(--size-300);
    padding-inline: var(--size-400);
    box-shadow: rgb(211 104 104) 0 3px 7px 1px,
      rgb(0 0 0 / 16%) 0px 14px 12px 0px;
  }
}

@media (max-width: 64em) {
  /* product media queries */
  .product-question {
    justify-content: center;
    text-align: center;
  }

  /* scheme work media queries */
  .scheme-work-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .scheme-work-numbering {
    left: 0;
    right: 0;
    margin: auto;
  }
}

@media (max-width: 60em) {
  /* Navigation media queries */
  .nav-list {
    display: inline;
    gap: 0;
  }

  .primary-navigation {
    display: none;

    position: absolute;
    padding: var(--size-500);
    inset: 6rem var(--size-400) auto;
    background: var(--clr-neutral-0);
    border-radius: var(--size-100);
    box-shadow: 0 0 0.5em rgb(0, 0, 0, 0.1);
    z-index: 10;
  }

  .primary-header[data-overlay]::before {
    content: "";
    position: absolute;
    height: 100vmax;
    inset: 0;
    background-image: linear-gradient(rgb(0 0 0 / 0.2), rgb(0 0 0 / 0.9));
  }

  .nav-list-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .nav-list a {
    color: var(--clr-neutral-300);
    text-decoration: none;
    padding: 0.7rem 0;
  }

  .nav-list li:last-child {
    display: flex;
    justify-content: center;
    font-weight: var(--fw-black);
    font-size: var(--fs-500);
    background-color: var(--clr-primary-300);
    border-radius: 100vmax;
  }

  .nav-list li:last-child a {
    color: var(--clr-neutral-0);
  }

  .nav-list a:hover,
  .nav-list a:focus {
    color: var(--clr-neutral-100);
  }

  .primary-navigation[data-visible] {
    display: block;
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    top: 2.25rem;
    right: var(--size-400);
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5rem;
  }

  .mobile-nav-toggle .icon-close {
    display: none;
  }

  /* Hero media queries */
  .hero {
    position: initial;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero-card {
    text-align: center;
  }
  .hero-background-image {
    display: none;
  }
  .hero-button {
    padding-inline: 10rem;
  }

  /* product media queries */
  .product-question {
    flex-direction: column;
    line-height: 1.2;
    gap: 2rem;
  }
  .product-question-button {
    margin: 0;
    padding-inline: 6rem;
  }

  .product-grid {
    grid-template-columns: 1fr 1fr;
  }

  .vacumn-card,
  .stove-card {
    display: none;
  }

  /* order media queries */
  .order-section {
    padding-block: 4rem !important;
  }

  /* service media queries */
  .service-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  /* discount media queries */
  .discount-image-container {
    display: none;
  }

  .discount-text {
    padding-right: 0 !important;
    padding-left: 0;
    text-align: center;
  }

  /* testimonial section */
  .testimonial-grid {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-row-gap: 6.5rem;
  }

  .testimonial-card:last-child {
    grid-column: 1 / span 2;
  }
}

@media (max-width: 52em) {
  /* order media queries */
  .order {
    padding-inline: 2.5rem;
  }
}

@media (max-width: 48em) {
  /* product media queries */
  .product-question-heading-primary {
    font-size: var(--fs-650) !important;
  }
  .product-question-heading-secondary {
    font-size: var(--fs-500) !important;
  }

  .product-grid {
    grid-template-columns: 1fr;
  }

  .exhaust-card,
  .dish-washer-card {
    display: none;
  }

  /* order media queries */
  .order-container {
    padding-block: 3rem;
  }
  .order {
    padding-inline: 0;
  }
  .order-image {
    width: 85%;
  }

  /* question answers section */
  .question-answers-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 45em) {
  /* footer media queries */
  .footer-right p {
    display: none;
  }

  .footer-left-text-responsive {
    display: block;
    margin-top: 0.5rem;
  }
}

@media (max-width: 43em) {
  /* scheme work media queries */
  .scheme-work-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .scheme-work-card-text {
    padding-top: 3rem;
  }

  /* location media queries */
  .location-section-container {
    left: 7%;
  }

  .location-card {
    width: 80vw;
    padding-right: 3rem;
    align-items: center;
  }

  .location-clock {
    margin-left: 1rem;
  }
  .location-phone {
    margin-left: -0.5rem;
  }
}

@media (max-width: 40em) {
  /* testimonial media queries */
  .testimonial-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .testimonial-card:last-child {
    grid-column: auto;
  }
}

@media (max-width: 34em) {
  /* Hero media queries */
  .hero-button {
    display: initial;
    padding-inline: 0;
    width: 100%;
  }
  .hero-sub-heading {
    font-size: var(--fs-500);
  }
  .hero-stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-row-gap: 0.75rem;
  }
  .stats-text {
    font-size: var(--fs-400) !important;
  }
  .stats-item {
    padding-inline: 1.1rem;
  }
  .stats-item:first-child {
    padding-left: 1.1rem;
  }
  .stats-item:nth-last-child(2) {
    border: none;
  }
  .stats-item:last-child {
    grid-column: 1 / span 2;
    justify-content: center;
  }

  /* product media queries */
  .product-question-heading-primary {
    font-size: var(--fs-500) !important;
  }
  .product-question-heading-secondary {
    font-size: var(--fs-300) !important;
  }
  .product-question-button {
    display: initial;
    width: 100%;
    white-space: nowrap;
    padding-inline: 0;
  }

  /* order media queries */
  .order-image {
    display: none;
  }
  .order-button {
    display: initial;
    padding-inline: 0;
    width: 100%;
    box-shadow: none;
    margin-inline: 0;
  }

  /* service media queries */
  .service-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  /* scheme work media queries */
  .scheme-work-card-text {
    padding-top: 2.5rem;
  }
}

@media (max-width: 32em) {
  /* footer media queries */
  .footer p {
    font-size: 0.625rem;
  }

  .footer-up-arrow {
    margin-left: 0.375rem;
    padding: 0.5rem;
  }

  .footer-up-arrow img {
    height: 0.75rem;
  }

  .footer-left img {
    width: 10vw;
    margin-right: 0.5rem;
  }
}

@media (max-width: 26em) {
  /* schema media queries */
  .scheme-work-card-text {
    padding-top: 2.25rem;
  }

  /* discount media queries */
  .discount-text-secondary {
    padding-block: 2rem;
  }
}

@media (max-width: 24em) {
  /* footer media queries */
  .footer p {
    font-size: 0.5rem;
  }
}

@media (max-width: 22em) {
  /* hero media queries */
  .stats-number p {
    font-size: 2.5rem;
  }

  /* location media queries */
  .location-clock {
    margin-left: 0;
  }
}

/* Background Icons CSS */
.position-absolute {
  position: absolute;
}

/* product background section */
.product-section {
  position: relative;
}

.product-zig-zag {
  top: 0;
  left: 0;
}

.product-round-blue {
  left: -8vw;
  top: 0;
  bottom: 0;
  margin: auto;
}

.product-round-white {
  right: 2vw;
  bottom: 14rem;
}

/* order background section */
.order-section {
  position: relative;
}

.order-container {
  z-index: 1;
}

.order-round-dashed {
  z-index: -1;
  top: 2.5rem;
  left: 5.5rem;
}

.order-zig-zag-left {
  z-index: -1;
  top: 3rem;
  left: 9rem;
  transform: rotate(60deg);
  width: 12rem;
}

.order-zig-zag-right {
  z-index: -1;
  top: 1rem;
  right: 8.5rem;
  transform: rotate(90deg);
}

/* service background section */

.service-section {
  position: relative;
  z-index: 1;
}

.service-card {
  position: relative;
  z-index: 2;
}

.service-zig-zag-left-top {
  top: -5rem;
  left: 14%;
}

.service-round-blue-left-top {
  top: 4.625rem;
  left: 5%;
}

.service-round-white-left-top {
  top: 10rem;
  left: 2%;
}

.service-round-white-left-bottom {
  bottom: 8rem;
  left: 5%;
}

.service-round-dashed-left {
  left: 3%;
  top: 0;
  bottom: 0;
  margin: auto;
}

.service-zig-zag-left-middle {
  left: 2%;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(25deg);
}

.service-zig-zag-right-middle {
  right: 2%;
  top: 0;
  bottom: 20rem;
  margin: auto;
}

.service-round-blue-left-middle {
  left: 5.5%;
  top: 3rem;
  bottom: 0;
  margin: auto;
  width: 3rem;
}

.service-round-white-top-middle {
  top: -2rem;
  left: 30%;
  right: 0;
  margin: auto;
}

.service-round-blue-right-top {
  top: 3rem;
  right: 20%;
}

.service-round-blue-right-middle {
  right: 2%;
  top: 13rem;
  bottom: 0;
  margin: auto;
  width: 2.5rem;
}

.service-round-white-bg-right-top {
  top: -2rem;
  right: 4%;
  width: 8rem;
}

.service-round-half-left-bottom {
  bottom: -1.875rem;
  left: 7%;
}

.service-round-white-bottom {
  width: 8rem;
  bottom: -4rem;
  left: 0;
  right: 18rem;
  margin: auto;
}

.service-round-white-sm-bottom {
  bottom: 1.5rem;
  left: 18rem;
  right: 0;
  margin: auto;
}

.service-zig-zag-right-bottom {
  bottom: -4rem;
  left: 69%;
  width: 8rem;
  right: 0;
  margin: auto;
  transform: rotate(180deg);
}

.service-round-dashed-right {
  bottom: 2rem;
  right: 6%;
}

/* discount background section */
.discount-section {
  position: relative;
}

.discount-container {
  z-index: 1;
}

.discount-round-white-left {
  top: -1.5rem;
  left: 5%;
  z-index: 3;
}

.discount-zig-zag-left {
  width: 9rem;
  left: 6%;
  top: 1rem;
  bottom: 0;
  margin: auto;
  transform: rotate(90deg);
}

.discount-round-blue-bottom {
  left: 0;
  bottom: -1.35rem;
}

.discount-round-dashed-bottom {
  width: 8rem;
  left: 0;
  right: 22rem;
  bottom: -4rem;
  margin: auto;
}

.discount-zig-zag-right {
  right: 2%;
  bottom: -5rem;
  transform: rotate(180deg);
}

.discount-round-dashed-top {
  top: -4rem;
  right: 0.75%;
  width: 8rem;
}

@media (max-width: 89em) {
  /* order background media queries */
  .order-round-dashed {
    left: 2rem;
  }
  .order-zig-zag-left {
    left: 5rem;
  }
}

@media (max-width: 86em) {
  /* product background media queries */
  .product-round-white {
    display: none;
  }
  .product-round-blue {
    display: none;
  }
}

@media (max-width: 83.75em) {
  /* order background media queries */
  .order-round-dashed {
    left: 1rem;
  }
  .order-zig-zag-left {
    left: 3.5rem;
  }

  /* service background media queries */
  .service-round-white-left-top,
  .service-round-white-left-bottom,
  .service-zig-zag-left-middle,
  .service-round-blue-left-middle,
  .service-round-blue-right-middle {
    display: none;
  }

  .service-round-white-bottom {
    right: 0;
  }
}

@media (max-width: 75em) {
  /* order background media queries */
  .order-round-dashed {
    left: 0.35rem;
  }
}

@media (max-width: 69em) {
  /* order background media queries */
  .order-zig-zag-left {
    transform: rotate(10deg);
    top: 3.5rem;
    width: 10rem;
    left: 6.25rem;
    right: 0;
    margin: auto;
  }
  .order-zig-zag-right {
    display: none;
  }

  /* service background media queries */
  .service-zig-zag-left-top {
    left: 8%;
  }

  .service-round-blue-left-top {
    display: none;
  }
}

@media (max-width: 60em) {
  /* hero media queries */
  .hero-content {
    position: initial;
  }

  /* product background media queries */
  .product-zig-zag {
    display: none;
  }

  /* order background media queries */
  .order-zig-zag-left {
    top: 1.5rem;
  }

  /* service background media queries */
  .service-zig-zag-left-top {
    width: 8rem;
    top: -4rem;
  }

  .service-round-white-bg-right-top {
    top: -1rem;
    width: 6rem;
  }

  .service-round-white-top-middle {
    top: -1.5rem;
    width: 10rem;
  }

  .service-round-half-left-bottom {
    width: 8rem;
    bottom: -1rem;
  }

  .service-round-white-bottom {
    width: 6rem;
    bottom: -3rem;
  }

  .service-zig-zag-right-bottom {
    width: 6rem;
    bottom: -3rem;
  }

  .service-round-dashed-right {
    bottom: 3rem;
  }

  /* discount background media queries */
  .discount-zig-zag-right {
    z-index: 3;
  }

  .discount-round-dashed-top {
    z-index: 3;
  }
}

@media (max-width: 48em) {
  /* service background media queries */
  .service-round-blue-right-top {
    top: 2rem;
    right: 28%;
  }

  .service-round-white-bottom {
    right: 5rem;
  }

  .service-round-white-top-middle,
  .service-round-white-sm-bottom {
    display: none;
  }

  /* discount background media queries */
  .discount-round-dashed-bottom {
    width: 5rem;
    bottom: -2.5rem;
    right: 25%;
  }

  .discount-zig-zag-right {
    width: 7rem;
    bottom: -3.5rem;
  }
}

@media (max-width: 35em) {
  /* service background media queries */
  .service-round-blue-right-top {
    display: none;
  }
  .service-round-white-bottom {
    display: none;
  }
}

@media (max-width: 28em) {
  /* service background media queries */
  .service-zig-zag-right-bottom {
    display: none;
  }

  /* discount background media queries */
  .discount-round-dashed-bottom {
    right: 0;
  }
}

/* Utility Classes */

.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.text-primary {
  color: var(--clr-neutral-600);
}
.text-secondary {
  color: var(--clr-neutral-100);
}
.text-neutral-900 {
  color: var(--clr-neutral-900);
}
.text-price {
  color: var(--clr-accent-500);
}
.text-nav {
  color: var(--clr-neutral-200);
}
.text-primary-heading {
  color: var(--clr-primary-500);
}
.text-secondary-heading {
  color: var(--clr-primary-400);
}
.text-white {
  color: #ffffff;
}
.text-footer {
  color: var(--clr-neutral-150);
}

.bg-primary {
  background-color: var(--clr-primary-300);
}

.bg-light-gray {
  background-color: var(--clr-neutral-50);
}
.bg-footer {
  background-color: var(--clr-neutral-75);
}

.fw-regular {
  font-weight: var(--fw-regular);
}
.fw-medium {
  font-weight: var(--fw-medium);
}
.fw-black {
  font-weight: var(--fw-black);
}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
  line-height: 1.4;
}
.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
  line-height: 1.4;
}
.fs-nav {
  font-size: var(--fs-nav);
}
.fs-product-title {
  font-size: var(--fs-product-title);
}
.fs-work-heading {
  font-size: var(--fs-primary-work-heading);
}
.fs-work-title {
  font-size: var(--fs-work-title);
}
.fs-work-body {
  font-size: var(--fs-work-body);
}

.fs-300 {
  font-size: var(--fs-300);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-650 {
  font-size: var(--fs-650);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-800 {
  font-size: var(--fs-800);
}

.padding-block-500 {
  padding-block: 2rem;
}
.padding-block-600 {
  padding-block: 2.5rem;
}
.padding-block-700 {
  padding-block: 3rem;
}
.padding-block-800 {
  padding-block: 4rem;
}
.padding-block-850 {
  padding-block: 5rem;
}
.padding-block-900 {
  padding-block: 6rem;
}

.margin-block-700 {
  margin-block: 4rem;
}
.margin-block-800 {
  margin-block: 4rem;
}
.margin-block-900 {
  margin-block: 6rem;
}

.container {
  --max-width: 75rem;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.display-sm-none {
  display: none;
}

.text-center {
  text-align: center;
}

@media (min-width: 60em) {
  .display-md-inline-flex {
    display: inline-flex;
  }
}
