:root {
  --clr-accent-300: #f3393a;
  --clr-accent-400: #ff4141;
  --clr-accent-500: #ae1a49;

  --clr-primary-300: #3ca7db;
  --clr-primary-400: #0391d3;
  --clr-primary-500: #0590d1;

  --clr-neutral-0: hsl(0 0% 100%);
  --clr-neutral-50: #f8f8f8;
  --clr-neutral-100: #afafaf;
  --clr-neutral-200: #656565;
  --clr-neutral-300: #4e4e4e;
  --clr-neutral-400: #515151;
  --clr-neutral-500: #2e2e2e;
  --clr-neutral-600: #2f2f2f;
  --clr-neutral-900: #000000;

  --clr-price: var(--clr-accent-500);

  --clr-bg-button: var(--clr-primary-400);
  --clr-bg-button-inverted: var(--clr-accent-300);

  --ff-primary: "Roboto", sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-black: 900;

  --fs-200: 0.75rem; /* 12px */
  --fs-300: 0.875rem; /* 14px */
  --fs-400: 0.9375rem; /* 15px */
  --fs-500: 1.125rem; /* 18px */
  --fs-600: 1.25rem; /* 20px */
  --fs-650: 1.375rem; /* 22px */
  --fs-700: 1.5rem; /* 24px */
  --fs-800: 1.625rem; /* 26px */
  --fs-900: 2.25rem; /* 36px */

  --fs-body: var(--fs-300);
  --fs-primary-heading: var(--fs-900);
  --fs-secondary-heading: var(--fs-600);
  --fs-nav: var(--fs-300);
  --fs-button: var(--fs-300);
  --fs-product-title: var(--fs-600);
  --fs-work-heading: var(--fs-700);
  --fs-work-title: var(--fs-500);
  --fs-work-body: var(--fs-400);

  --size-100: 0.75rem;
  --size-200: 0.865rem;
  --size-300: 1rem;
  --size-400: 1.5rem;
  --size-500: 2rem;
  --size-600: 3rem;
  --size-700: 4rem;
  --size-800: 5rem;
  --size-900: 6rem;
}

/* @media (min-width: 50em) {
  :root {
    --fs-body: var(--fs-500);
    --fs-primary-heading: var(--fs-900);
    --fs-secondary-heading: var(--fs-800);
    --fs-nav: var(--fs-300);
  }
} */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* General Stylings */

body {
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  color: var(--clr-neutral-900);
}

/* button */

.button {
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  border-radius: 100vmax;
  padding: 1.25em 3em;
  font-weight: var(--fw-black);
  font-size: var(--fs-button);
  line-height: 1;
  color: var(--clr-neutral-0);
  background-color: var(--clr-bg-button);
}

.button[data-type="inverted"] {
  background-color: var(--clr-bg-button-inverted);
}

.button:hover,
.button:focus-visible {
  background-color: var(--clr-primary-300);
}

/* navigation */

.primary-header {
  margin-block: var(--size-500);
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: clamp(var(--size-500), 5vw, var(--size-800));
}

.nav-list a {
  display: flex;
  gap: 0.4rem;
  text-decoration: none;
  font-size: var(--fs-nav);
  color: var(--clr-neutral-200);
}

.nav-list li:last-child {
  display: none;
}

.mobile-nav-toggle {
  display: none;
}

/* Hero section */

.hero {
  position: relative;
  padding-block: var(--size-900);
}

.hero-stats {
  display: flex;
  margin-top: 4rem;
}

.stats-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-inline: 2rem;
  border-right: solid 1px #eeeeee;
}

.stats-number {
  color: var(--clr-primary-400);
  font-size: 4.5rem;
}

.stats-item:first-child {
  padding-left: 0;
}
.stats-item:last-child {
  border: none;
}

.background-shape {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  border-top-left-radius: 100vmax;
  top: 0;
  right: 0;
  height: 100%;
  width: 52vw;
}

.background-shape img {
  height: auto;
  width: 100%;

  padding: 1rem;
}

.hero-sub-heading {
  margin-top: 0.5rem;
  font-size: var(--fs-600);
}

.hero-button {
  font-size: var(--fs-600);
  margin-block: var(--size-600);
  padding-inline: var(--size-900);
  box-shadow: rgb(7, 102, 131) 0 3px 5px 1px, rgb(0 0 0 / 16%) 0px 14px 12px 0px;
}

.hero-note {
  color: var(--clr-neutral-400);
}

.hero-note span {
  color: var(--clr-accent-300);
}

/* carousel section */

.product-heading {
  text-align: center;
}
.product-carousel {
  background-color: var(--clr-neutral-100);
  height: 500px;
}
.product-question {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-block: 2rem;
}

.product-question-button {
  margin-left: 4rem;
}

/* order section */

.order-container {
  padding: var(--size-800) var(--size-600);
}

.order {
  width: 50%;
  color: var(--clr-neutral-0);
  position: relative;
  z-index: 2;
}

.order h2 {
  line-height: 1;
}

.order p {
  padding-block: var(--size-400);
  color: #ffffff96;
}

.order-container {
  position: relative;
}

.order-image {
  position: absolute;
  bottom: 0;
  right: -0.5rem;
}

@media (max-width: 75em) {
  /* Hero media queries */
  .hero {
    padding-block: var(--size-600);
  }
  .background-shape {
    width: 55vw;
  }
  .hero-stats {
    margin-top: 2rem;
  }

  .hero-button {
    font-size: var(--fs-400);
    margin-block: var(--size-400);
    padding-inline: 8rem;
  }
  .stats-item {
    padding-inline: 1.5rem;
  }
  .stats-number {
    font-size: 3rem;
  }

  /* order media queries */
  .order h2 {
    text-shadow: 2px 1px 2px #000000a6;
  }

  .order p {
    text-shadow: 0px 1px 1px #0000009e;
    color: #d6d6d6;
  }
}

@media (max-width: 68.75em) {
  /* Hero media queries */
  .background-shape {
    width: 51vw;
  }
  .hero-note {
    font-size: var(--fs-400);
  }

  /* order media queries */
  .order {
    width: 100%;
    text-align: center;
    padding-inline: 8rem;
  }

  .order h2 {
    text-shadow: 2px 1px 2px #000000;
  }

  .order p {
    padding-block: var(--size-500);
    text-shadow: 0px 1px 4px #0000006e;
    color: #ffffff;
  }

  .order-image {
    opacity: 0.5;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .order-button {
    margin: var(--size-300);
    padding-inline: var(--size-400);
    box-shadow: rgb(211 104 104) 0 3px 7px 1px,
      rgb(0 0 0 / 16%) 0px 14px 12px 0px;
  }
}

@media (max-width: 64em) {
  /* carousel media queries */
  .product-question {
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 60em) {
  /* Navigation media queries */
  .nav-list {
    display: inline;
    gap: 0;
  }

  .primary-navigation {
    display: none;

    position: absolute;
    padding: var(--size-500);
    inset: 6rem var(--size-400) auto;
    background: var(--clr-neutral-0);
    border-radius: var(--size-100);
    box-shadow: 0 0 0.5em rgb(0, 0, 0, 0.1);
    z-index: 10;
  }

  .primary-header[data-overlay]::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(rgb(0 0 0 / 0.2), rgb(0 0 0 / 0.9));
  }

  .nav-list-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .nav-list a {
    color: var(--clr-neutral-300);
    text-decoration: none;
    padding: 0.7rem 0;
  }

  .nav-list li:last-child {
    display: flex;
    justify-content: center;
    font-weight: var(--fw-black);
    font-size: var(--fs-500);
    background-color: var(--clr-primary-300);
    border-radius: 100vmax;
  }

  .nav-list li:last-child a {
    color: var(--clr-neutral-0);
  }

  .nav-list a:hover,
  .nav-list a:focus {
    color: var(--clr-neutral-100);
  }

  .primary-navigation[data-visible] {
    display: block;
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    top: 2.25rem;
    right: var(--size-400);
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5rem;
  }

  .mobile-nav-toggle .icon-close {
    display: none;
  }

  /* Hero media queries */
  .hero {
    position: initial;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero-card {
    text-align: center;
  }
  .background-shape {
    display: none;
  }
  .hero-button {
    padding-inline: 10rem;
  }

  /* carousel media queries */
  .product-question {
    flex-direction: column;
    line-height: 1.2;
    gap: 2rem;
  }
  .product-question-button {
    margin: 0;
    padding-inline: 6rem;
  }

  /* order media queries */
  .order-section {
    padding-block: 4rem !important;
  }
}

@media (max-width: 52em) {
  /* order media queries */
  .order {
    padding-inline: 2.5rem;
  }
}

@media (max-width: 48em) {
  /* carousel media queries */
  .product-question-heading-primary {
    font-size: var(--fs-650) !important;
  }
  .product-question-heading-secondary {
    font-size: var(--fs-500) !important;
  }

  /* order media queries */
  .order-container {
    padding-block: 3rem;
  }
  .order {
    padding-inline: 0;
  }
  .order-image {
    width: 85%;
  }
}

@media (max-width: 34em) {
  /* Hero media queries */
  .hero-button {
    display: initial;
    padding-inline: 0;
    width: 100%;
  }
  .hero-sub-heading {
    font-size: var(--fs-500);
  }
  .hero-stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-row-gap: 0.75rem;
  }
  .stats-text {
    font-size: var(--fs-400) !important;
  }
  .stats-item {
    padding-inline: 1.1rem;
  }
  .stats-item:first-child {
    padding-left: 1.1rem;
  }
  .stats-item:nth-last-child(2) {
    border: none;
  }
  .stats-item:last-child {
    grid-column: 1 / span 2;
    justify-content: center;
  }

  /* carousel media queries */
  .product-question-heading-primary {
    font-size: var(--fs-500) !important;
  }
  .product-question-heading-secondary {
    font-size: var(--fs-300) !important;
  }
  .product-question-button {
    display: initial;
    width: 100%;
    white-space: nowrap;
    padding-inline: 0;
  }

  /* order media queries */
  .order-image {
    display: none;
  }
  .order-button {
    display: initial;
    padding-inline: 0;
    width: 100%;
    box-shadow: none;
    margin-inline: 0;
  }
}

/* Utility Classes */

.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.text-primary {
  color: var(--clr-neutral-600);
}
.text-secondary {
  color: var(--clr-neutral-100);
}
.text-neutral-900 {
  color: var(--clr-neutral-900);
}
.text-price {
  color: var(--clr-accent-500);
}
.text-nav {
  color: var(--clr-neutral-200);
}
.text-primary-heading {
  color: var(--clr-primary-500);
}
.text-secondary-heading {
  color: var(--clr-primary-400);
}
.text-white {
  color: #ffffff;
}

.bg-primary {
  background-color: var(--clr-primary-300);
}

.bg-light-gray {
  background-color: var(--clr-neutral-50);
}

.fw-regular {
  font-weight: var(--fw-regular);
}
.fw-black {
  font-weight: var(--fw-black);
}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
  line-height: 1.4;
}
.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
  line-height: 1.4;
}
.fs-nav {
  font-size: var(--fs-nav);
}
.fs-product-title {
  font-size: var(--fs-product-title);
}
.fs-work-heading {
  font-size: var(--fs-primary-work-heading);
}
.fs-work-title {
  font-size: var(--fs-work-title);
}
.fs-work-body {
  font-size: var(--fs-work-body);
}

.fs-300 {
  font-size: var(--fs-300);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-650 {
  font-size: var(--fs-650);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-800 {
  font-size: var(--fs-800);
}

.padding-block-700 {
  padding-block: 3rem;
}
.padding-block-800 {
  padding-block: 4rem;
}
.padding-block-900 {
  padding-block: 6rem;
}

.margin-block-700 {
  margin-block: 4rem;
}
.margin-block-800 {
  margin-block: 4rem;
}
.margin-block-900 {
  margin-block: 6rem;
}

.container {
  --max-width: 75rem;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.grid-columns {
  display: grid;
  gap: 1rem;
}

.display-sm-none {
  display: none;
}

@media (min-width: 60em) {
  .display-md-inline-flex {
    display: inline-flex;
  }
}

@media (min-width: 60em) {
  .grid-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}
